extends layout.pug

block content
  div.container
    div.row
    if hestaFylki.length > 0
      h2.center These are the horses we currently have for sale
      div.valmyndContainer
        for hestur in hestaFylki
          div.valmyndHorse
            div.valmyndHorseName
              if hestur.name.length > 2 && typeof hestur.name !== 'undefined'
                p.center #{hestur.name.length>2 ? hestur.name : 'Unnamed from Kálfsstaðir'}
              else
                p.center Unnamed from Kálfsstaðir
            div.valmyndHorsePic
              if typeof hestur.imgRef !== 'undefined'
                a(href=`horse/${hestur.id}` title=`${hestur.name}`)
                  img(src=hestur.imgRef title=`${hestur.name}` onerror="this.src='/images/fallback.jpg'" alt=`Picture of ${hestur.name} from Kalfsstadir`)
              else
                a(href=`horse/${hestur.id}` title=`${hestur.name}`)
                  img(src="/images/013.jpg" title=`${hestur.name}` alt=`No picture available`)
    else
      h2 Sorry, we don't have any horses for sale at this time
